<section class="p-5 cards-section">
  <div
    class="flex align-items-center justify-content-between flex-column gap-3 cards"
  >
    <h2 class="cards-heading w-full m-0">Welcome to Admin Dashboard</h2>
    <div
      class="flex align-items-center justify-content-start gap-3 w-full mt-5"
    >
      <div
        class="cards-container flex align-items-center justify-content-center gap-3 admin-cards"
      >
        <p-card
          styleClass="px-3 custom-card widget__card h-full w-full "
          class="w-full"
        >
          <h2 class="mb-4 uppercase">USERS</h2>
          <div
            class="flex justify-content-between custom-card widget__card--content"
          >
            <p class="mb-5 dealers--btn-margin">
              ACTIVE
              <span class="block mt-1">5</span>
            </p>
            <p class="mb-5 dealers--btn-margin">
              INACTIVE<span class="block mt-1">2</span>
            </p>
            <p class="mb-5 dealers--btn-margin">
              TOTAL
              <span class="block mt-1">7</span>
            </p>
          </div>
        </p-card>
      </div>
      <div
        class="cards-container flex align-items-center justify-content-center gap-3 admin-cards"
      >
        <p-card
          styleClass="px-3 custom-card widget__card h-full w-full "
          class="w-full"
        >
          <h2 class="mb-4 uppercase">USERS</h2>
          <div
            class="flex justify-content-between custom-card widget__card--content"
          >
            <p class="mb-5 dealers--btn-margin">
              ACTIVE
              <span class="block mt-1">5</span>
            </p>
            <p class="mb-5 dealers--btn-margin">
              INACTIVE<span class="block mt-1">2</span>
            </p>
            <p class="mb-5 dealers--btn-margin">
              TOTAL
              <span class="block mt-1">7</span>
            </p>
          </div>
        </p-card>
      </div>
      <div
        class="cards-container flex align-items-center justify-content-center gap-3 admin-cards"
      >
        <ng-container>
          <p-card
            styleClass="px-3 custom-card h-full approvals-card w-full "
            class="w-full"
          >
            <div class="h-full flex flex-column justify-content-between">
              <h2 class="mb-4 uppercase">Heading</h2>

              <img
                src="assets/images/links-icn.svg"
                alt="rewards"
                class="links-icn cursor-pointer mb-3 mt-6"
              />
            </div>
          </p-card>
        </ng-container>
      </div>
    </div>
  </div>
</section>
