$Hurme: "Hurme Geometric Sans 2";
//Colors
$graybg: #f5f6f8;
$white: #ffffff;
$black: #030303;
$black-alpha: #000000;
$black-beta: #1c1e21;
$gray-alpha: #f7f7f7;
$gray-beta: #969696;
$gray-gamma: #a0a0a0;
$gray-theta: #fdfdfd;
$gray-delta: #f5f5f5;
$iconColor: #9f9f9f;
$borderColor: #dedede;
$secondary-btnColor: #4ca7d5;
$primary-red: #f1060a;
$secondary-red: #c21c2a;
$hover-bg: #f5f7fc;
$btn-border: #707070;
$reject-bg: #ffdede;
$reject-text: #b7490f;
$accept-bg: #e3ffde;
$accept-text: #38b70f;
$red-text: #ff4d50;
$graybg-alpha: #f4f4f4;
$gray-theta: #fdfdfd;
$green-text: #009006;
$link: #2a64c5;
$grey-bg-nav: #dedede;
$icon-toggle-color: #3a3c3f;

// Dealer Status
$dealer-active: #38b70f;
$dealer-active-bg: #e3ffde;
$dealer-inactive: #b7490f;
$dealer-inactive-bg: #ffdede;

$green-btn: #c2ffb7;
$red-btn: #ffccc3;
$yellow-bg: #faff86;
$dealer-bg: #ffe6e6;
$card-bg: #eaeaea;
$header-bg: #333333;
$gsm-mobile-user: #dc034b;
$unwired-user: #f23fa6;
$ict-user: #e8d356;
$tv-user: #0e1bc3;
$bills-bg: #fff5fe;
$yellow-color: #908500;
/////////////////////////////////////////////////////////////////////////////
////////////////////////// font size ////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////

$base-font-size: 15px; // Set your base font size in pixels
$font-xxs: 0.6em; // 10px
$font-xs: 0.8em; // 12px
$font-sm: 0.9333em; // 14px
$font-base: 1em; // 15px
$font-lg: 1.2em; // 18px
$font-xl: 1.3333em; // 20px
$font-2xl: 1.6em; // 24px
$font-3xl: 1.8667em; // 28px
$font-4xl: 2.1333em; // 32px
$font-5xl: 2.6667em; // 40px
$font-6xl: 3.2em; // 48px
$font-7xl: 4.2667em; // 64px
$font-8xl: 6.4em; // 96px
$font-2xl-beta: 1.73em; //26px
$pinkbg: #fff5fe;
$borderColor-alpha: #f2f6ff;
$bad-light: #ffccc3;

$Hurme: "Hurme Geometric Sans 2";
//Colors
$graybg: #f5f6f8;
$pinkbg: #fff5fe;
$white: #ffffff;
$black: #030303;
$black-alpha: #000000;
$black-beta: #1c1e21;
$gray-alpha: #f7f7f7;
$gray-beta: #969696;
$gray-gamma: #a0a0a0;
$gray-delta: #f5f5f5;
$iconColor: #9f9f9f;
$borderColor: #dedede;
$borderColor-alpha: #f2f6ff;
$secondary-btnColor: #4ca7d5;
$primary-red: #f1060a;
$secondary-red: #c21c2a;
$hover-bg: #f5f7fc;
$btn-border: #707070;
$btn-border-gray: #d1d1d1;

$link: #2a64c5;
$grey-bg-nav: #dedede;
$icon-toggle-color: #3a3c3f;
$card-bg: #eaeaea;

// Dealer Status
$dealer-active: #38b70f;
$dealer-active-bg: #e3ffde;
$dealer-inactive: #b7490f;
$dealer-inactive-bg: #ffdede;

//pop-up status
$bad-light: #ffccc3;
$bad-dark: #ff4d50;
$good-light: #c2ffb7;
$good-dark: #009006;

$green-btn: #c2ffb7;
$red-btn: #ffccc3;
$expire-lbl: #cccccc;

///header///

$header: #00000033;
$sub-header: #0000001a;
$text-primary: #ff7900;
/////////////////////////////////////////////////////////////////////////////
////////////////////////// font size ////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////
$font-smaller: 0.66em; //10px

$base-font-size: 15px; // Set your base font size in pixels
$font-xxs: 0.6em; // 10px
$font-small: 0.8em; //12px

$font-xs: 0.8em; // 12px
$font-sm: 0.9333em; // 14px
$font-base: 1em; // 15px
$font-lg: 1.2em; // 18px
$font-xl: 1.3333em; // 20px
$font-2xl: 1.6em; // 24px
$font-2xl-beta: 1.73em; //26px

$font-3xl: 1.8667em; // 28px
$font-4xl: 2.1333em; // 32px
$font-5xl: 2.6667em; // 40px
$font-6xl: 3.2em; // 48px
$font-7xl: 4.2667em; // 64px
$font-8xl: 6.4em; // 96px
$font-3xlII: 2em; //30px;
