<div class="banner flex align-items-center justify-content-center">
  <div class="banner-search__box">
    <div class="search-heading">
      <h1 class="m-0 p-0">
        Find Colleges, Courses & Exams that are Best for You
      </h1>
    </div>
    <div class="search-items">
      <ul
        class="search-item__list block text-center m-0 mt-2 flex align-items-center justify-content-center p-0"
      >
        <li class="flex align-items-center justify-content-center gap-2">
          <strong> 62,000+ </strong>
          <span class="flex align-items-center justify-content-center gap-2"
            >Colleges
            <i
              class="pi pi-circle-on"
              style="font-size: 0.3rem; font-weight: 500; text-align: end"
            ></i
          ></span>
        </li>

        <li class="flex align-items-center justify-content-center gap-2">
          <strong> 4,30,000+ </strong>
          <span class="flex align-items-center justify-content-center gap-2"
            >Courses
            <i
              class="pi pi-circle-on"
              style="font-size: 0.3rem; font-weight: 500; text-align: end"
            ></i
          ></span>
        </li>
        <li class="flex align-items-center justify-content-center gap-2">
          <strong> 52,000+ </strong>
          <span class="flex align-items-center justify-content-center gap-2"
            >Reviews
            <i
              class="pi pi-circle-on"
              style="font-size: 0.3rem; font-weight: 500; text-align: end"
            ></i
          ></span>
        </li>
        <li class="flex align-items-center justify-content-center gap-2">
          <strong> 100+ </strong>
          <span class="flex align-items-center justify-content-center gap-2"
            >Exams
          </span>
        </li>
      </ul>
    </div>
    <div class="search-wrap mt-2">
      <div class="w-full">
        <span class="p-input-icon-left mb-2 w-full">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            class="search w-full p-3 pl-5"
            placeholder="Search Colleges, Courses, Exams, QnA, & Articals"
            maxlength="50"
          />
          <p-button
            class="Btn"
            label="Search"
            styleClass="p-button-rounded search_btn"
          ></p-button>
        </span>
      </div>
    </div>
  </div>
</div>
