<section class="p-5 cards-section">
  <div
    class="flex align-items-center justify-content-between flex-column gap-3 cards"
  >
    <div
      class="cards-container flex align-items-center justify-content-center flex-column gap-3 pl-7"
    >
      <h2 class="cards-heading w-full m-0">Top Courses</h2>
      <!-- <div class="flex align-items-center gap-3 w-full">
        <div *ngFor="let i of courses">
          <p class="m-0 px-5 py-2 grey-txt courses-link">
            {{ i }}
          </p>
        </div>
      </div> -->
      <div class="card w-full mt-3">
        <p-table [value]="data" styleClass="p-datatable-striped">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th>Serial No</th>
              <th>Course</th>

              <th>Fees</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-columns="columns">
            <tr>
              <td class="w-2">
                {{ product.no }}
              </td>
              <td class="w-4">
                {{ product.course }}
              </td>

              <td class="w-4">
                <div
                  class="flex align-items-center justify-content-between flex-column w-full"
                >
                  <p class="m-0 p-0 text-start w-full">
                    {{ product.fee }}
                  </p>
                  <span class="w-full grey-txt">1st Year Fees</span>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</section>
